/* #F2F2F2 background colour*/
/* #2B008B text colours */

/* Reset some basic elements */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a basic box-sizing rule */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #F2F2F2;
    color:#2B008B;
    padding: 2.5rem; /* Increased padding */
    position: relative; /* Ensure that absolute positioning is relative to the header */
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    position: absolute; /* Position the navigation absolutely */
    left: 10rem; /* Adjust this value to move the nav to the right */
    top: 2rem; /* Align with the padding of the header */
  }

  nav ul :hover{
    color: #03DAC5;
  }
  
  nav ul li {
    margin-right: 5vw;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #2B008B;
    text-decoration: none;
    font-size: 1.1rem; /* Slightly larger font size */
  }
  
  h1 {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 0.5rem;
    position: absolute; /* Position the title absolutely */
    left: 50%;
    transform: translateX(-50%); /* Center the title */
    white-space: nowrap;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the title vertically */
  }
  
  .hero {
    position: relative; /* Needed for absolute positioning inside */
    height: 90vh; /* Adjust based on your preference */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 0; /* Layered behind the content but above the image */
  }
  
  .hero-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distorting */
    z-index: -1; /* Ensures the image stays in the background */
  }
  
  .hero-content {
    position: relative; /* Ensures content is above the background image and overlay */
    z-index: 1;
  }
  
  .hero-text{
    font-size:5vh;
    color: white;
    margin-bottom:6vh;
    border-radius: 20px;
    padding-top:10vh;

  }


  .btn-get-started {
    background-color: #03DAC5;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    border-radius: 20px; /* Adjust border radius as needed */
    transition: background-color 0.3s;
    font-size:3vh;
  }
  
  .btn-get-started:hover {
    background-color: #2B008B;
  }
  