/* #F2F2F2 background colour*/
/* #2B008B text colours */

/* Reset some basic elements */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Apply a basic box-sizing rule */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #F2F2F2;
    color:#2B008B;
    padding: 2.5rem; /* Increased padding */
    position: relative; /* Ensure that absolute positioning is relative to the header */
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    position: absolute; /* Position the navigation absolutely */
    left: 10rem; /* Adjust this value to move the nav to the right */
    top: 2rem; /* Align with the padding of the header */
  }

  nav ul :hover{
    color: #03DAC5;
  }
  
  nav ul li {
    margin-right: 5vw;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #2B008B;
    text-decoration: none;
    font-size: 1.1rem; /* Slightly larger font size */
  }
  
  h1 {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 0.5rem;
    position: absolute; /* Position the title absolutely */
    left: 50%;
    transform: translateX(-50%); /* Center the title */
    white-space: nowrap;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the title vertically */
  }
  
  .hero {
    position: relative; /* Needed for absolute positioning inside */
    height: 90vh; /* Adjust based on your preference */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 0; /* Layered behind the content but above the image */
  }
  
  .hero-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distorting */
    z-index: -1; /* Ensures the image stays in the background */
  }
  
  .hero-content {
    position: relative; /* Ensures content is above the background image and overlay */
    z-index: 1;
  }
  
  .hero-text{
    font-size:5vh;
    color: white;
    margin-bottom:6vh;
    border-radius: 20px;
    padding-top:10vh;

  }


  .btn-get-started {
    background-color: #03DAC5;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none;
    border-radius: 20px; /* Adjust border radius as needed */
    transition: background-color 0.3s;
    font-size:3vh;
  }
  
  .btn-get-started:hover {
    background-color: #2B008B;
  }
  


  /* Login Page */

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .form {
    background-color: #F2F2F2;
    background-image: url('/src/main/resources/static/images/premium_photo-1677171749355-4ad563d86165.avif');
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns all children (inputs and button) centrally */
    width: 100%;
    height:90vh;
  }
  
  .input-group {
    width: 100%; /* Full width for better control */
    margin-bottom: 1rem; /* Space out the inputs */
    margin:2vh;
    margin-top:10vh;
  }
  
  .form input, .form button {
    width: 50vw; /* Set the width to 50% of the viewport width */
    padding: 1rem; /* Padding for better touch and aesthetics */
    border-radius: 5px; /* Rounded corners */
    margin: 2vh auto; /* Vertical margin and horizontal auto for centering */
    display: block; /* Ensure elements are treated as block for better control */
  }
  
  .form input {
    border: 1px solid #ccc;
    font-size:2vh;
  }
  
  .form button {
    background-color: #03DAC5;
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .form button:hover {
    background-color: #2B008B;
  }
  


  .form p {
    margin-top: 1rem;
  }
  
  .form p a {
    color: #2B008B;
  }
  
  .form p a:hover {
    text-decoration: underline;
  }
  /* Add your CSS styles here */
  .banner {
    background-color: #f4f4fd; 
    color: #2B008B;
    width: 100%; 
    height: 70px; 
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
  }

  .banner h2 {
    margin: 0; 
    font-size: 24px; 
  }

  .banner a {
    color: #2B008B; 
    text-decoration: none;
    margin-right: 20px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
  }

  .banner a:hover {
    background-color: #eaeaff; 
  }

  /* Dropdown Button */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: #f4f4fd;
    color: #2B008B;
    padding: 10px 20px;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
  }

  .dropbtn:hover {
    background-color: #eaeaff; 
  }

  /* Photo Banner Styles */
  .photo-banner {
    margin-top: 0px;
    height: auto;
    width: 100%; 
  }
  .text-box {
  position: absolute;
  top: 73%; /* Position it vertically in the middle */
  right: 20%; /* Align it to the right side */
  transform: translateY(-50%); /* Center it vertically */
  width: 40%; /* Adjust width as needed */
  background-color: #ffffff; /* Light purple background */
  color: #2B008B; /* Dark purple text */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 2; 
}

.text-box p:first-child {
  font-size: 28px; /* Adjust font size for the first paragraph */
  font-weight: bold;
}
.text-box2 {
  position: absolute;
  top: 71.5%; /* Position it vertically in the middle */
  left: 5%; /* Align it to the right side */
  transform: translateY(-50%); /* Center it vertically */
  width: 30%; /* Adjust width as needed */
  background-color: #ded1d13c; /* Light purple background */
  color: #2B008B; /* Dark purple text */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 2; 
}
.text-box2 p:first-child {
  font-size: 18px; /* Adjust font size for the first paragraph */
  font-weight: bold;
}