<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Buddy</title>
        <link rel="stylesheet" href="/css/style.css">
        <style>
        </style>
    </head>
    <header>
        <script src="/js/header.js"></script>
    </header>
    <body>
        <div class="photo-banner">
            <div class="text-box">
                <p>Studying at the University of Otago</p>
                <p>Connect with students through StudyBuddy, your go-to platform for finding study partners, tutors, and study groups for any subject you're passionate about at the University of Otago. Whether you're studying law, engineering, or any other discipline, StudyBuddy helps you collaborate, learn, and succeed.</p>
            </div>
            <img src="/images/international-banner.avif"  alt="International Banner" class="photo-banner">
        </div>
        <div class="text-box2"> 
            <p>Benefits of StudyBuddy:</p>
            <ul>
                <li>Connect with students</li>
                <li>Find study partners</li>
                <li>Get help from tutors</li>
                <li>Join study groups</li>
                <li>Collaborate and succeed</li>
            </ul>
        </div>
    </body>
</html>
