<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Study Buddy</title>
        <link rel="stylesheet" href="/css/style.css">
        <script th:inline="javascript">
            var authenticatedUser = /*[[${authenticatedUser}]]*/ 'Guest';
        </script>
    </head>
    <body>

        <script src="/js/accountsHeader.js"></script>


        <main>
            <section class="hero">
                <img src="/images/photo-1523240795612-9a054b0db644.avif" alt="Background Image" class="hero-background-image">

                <div class="hero-content">
                    <h2 class="hero-text">Find your perfect study group</h2>
                    <a href="sign-up" class="btn-get-started">SIGN UP TODAY</a>
                </div>
            </section>
        </main>
    </body>
</html>
