<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Study Buddy</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul>
          <li><a href="log-in">LOG IN</a></li>
          <li><a href="sign-up">SIGN UP</a></li>
        </ul>
      </nav>
      <h2>Study Buddy</h2>
    </div>
  </header>
  <main>
    <section class="hero">
      <img src="/images/photo-1523240795612-9a054b0db644.avif" alt="Background Image" class="hero-background-image">

        <div class="hero-content">
          <h2 class="hero-text">Find your perfect study group</h2>
          <a href="/src/main/resources/templates/sign-up.html" class="btn-get-started">SIGN UP TODAY</a>
        </div>
    </section>
  </main>
</body>
</html>
