<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Study Buddy</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul>
          <li><a href="log-in">LOG IN</a></li>
          <li><a href="sign-up">SIGN UP</a></li>
        </ul>
      </nav>
      <h2>Study Buddy</h2>
    </div>
  </header>
  
<body>
    <h1>Settings</h1>
    
    <form>
        <!-- Add your settings options here -->
    </form>
    
    <script>
        // Add your JavaScript code here
    </script>
</body>
</html>