<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Study Buddy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <script src="/js/header.js"></script>
        <div class="backgroundSettings">
            <p id="successMessage" style="display:none; background-color: green; color: white; text-align: center; width: 100%; padding: 10px 0; position: fixed; top: 0; left: 0; z-index: 1000;">Form submitted successfully!</p>

            <ul id="nav">
                <li><a href="/update-details" onclick="showSection('aboutYou')">About You</a></li>
                <li><a href="blocked" onclick="showSection('blockedUsers')">Blocked Users</a></li>
                <li><a href="/updatePapers" onclick="showSection('updatePapers')">Add your paper</a></li>
            </ul>

            <form class="addPaper-form" action="/updatePapers" method="post" th:object="${updatePapersRequest}" onsubmit="handleSubmit(event)">
                <div id="classesContainer">
                    <div class="form-group">
                        <label for="class1">Class:</label>
                        <input type="text" th:value="${userPapers.size() > 0 ? userPapers.get(0) : ''}" id="paperCode1" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 1 ? userPapers.get(1) : ''}" id="paperCode2" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 2 ? userPapers.get(2) : ''}" id="paperCode3" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 3 ? userPapers.get(3) : ''}" id="paperCode4" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 4 ? userPapers.get(4) : ''}" id="paperCode5" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 5 ? userPapers.get(5) : ''}" id="paperCode6" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 6 ? userPapers.get(6) : ''}" id="paperCode7" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <div id="classesContainer">
                    <div class="form-group">
                        <input type="text" th:value="${userPapers.size() > 7 ? userPapers.get(7) : ''}" id="paperCode8" name="paperCodes" placeholder="e.g., MART112" 
                               pattern="[A-Z]{4}[0-9]{3}" oninput="checkInput(this)">
                        <p id="error-message" style="color: red; display: none;">Class code must be 4 letters followed by 3 numbers.</p>
                    </div>
                </div>
                <!-- 
                <button type="button" onclick="addClass()">Add Another Class</button> 
                -->
                <button type="submit">Submit</button>
            </form>

            <script>
                function handleSubmit(event) {
                    event.preventDefault(); // Prevent the default form submission
                    // Show the success message
                    const successMessage = document.getElementById('successMessage');
                    successMessage.style.display = 'block';
                    event.target.submit();

                    // Hide the success message after 3 seconds (3000 milliseconds)
                    setTimeout(function () {
                        successMessage.style.display = 'none';
                    }, 3000);
                }
            </script>
        </div>
    </body>
</html>
